.idea
*.iml

target

*-local.yml
keystore/
logs/

*.log
.attach_pid*

id_file
# Python
venv
*.venv
.pytest_cache
*.pyc
__pycache__/

# Robot Tests
**results**
tests/log.html
tests/output.xml
tests/report.html
.pabotsuitenames

# VSCode
.classpath
.factorypath
.project
.settings/
.vscode/

# VSCode REST Client
# files for local usage only!
local*.http


mapping-output.json
