.idea

target

*-local.yml
keystore/

# Python
venv
*.venv
.pytest_cache

# Robot Tests
**results**
tests/log.html
tests/output.xml
tests/report.html

# VSCode
.classpath
.factorypath
.project
.settings/
.vscode/**

# VSCode REST Client
# files for local usage only!
local*.http

fhir-bridge.iml
src/main/resources/MappingOutput.json
